<h1>Products for <%= @store.name %></h1>

<% if @products.any? %>
  <ul>
    <% @products.each do |product| %>
      <li>
        <strong><%= product.name %></strong><br>
        <%= product.description %><br>
        Price: $<%= number_with_precision(product.price, precision: 2) %><br>
        Stock: <%= product.stock %><br>
        <% if product.image.present? %>
          <img src="<%= product.image %>" alt="<%= product.name %>" width="100">
        <% end %>

        <br>
        <%= link_to "✏️ Edit", edit_store_product_path(@store, product) %> |
             <%= link_to "Delete", store_product_path(@store, product), data: { "turbo-method": :delete } %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No products found.</p>
<% end %>

<%= link_to "➕ Add Product", new_store_product_path(@store), class: "btn btn-primary" %>
<br><br>
<%= link_to "⬅ Back to Store", store_path(@store), class: "btn btn-secondary" %>
